@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
      --background: 60 33% 98%;
--foreground: 133 50% 8%;
--muted: 60 4.8% 95.9%;
--muted-foreground: 25 5.3% 44.7%;
--popover: 40 33% 98%;
--popover-foreground: 127 47% 8%;
--card: 40 33% 98%;
--card-foreground: 127 47% 8%;
--border: 276 44% 85%;
--input: 276 44% 85%;
--primary: 32 84% 71%;
--primary-foreground: 127 47% 8%;
--secondary: 232 1% 31%;
--secondary-foreground: 40 33% 98%;
--accent: 267 51% 85%;
--accent-foreground: 127 47% 8%;
--destructive: 0 84.2% 60.2%;
--destructive-foreground: 60 9.1% 97.8%;
--ring: 276 44% 85%;
--radius: 0.5rem;
  }
  .dark {
      --background: 40 33% 98%;
--foreground: 127 47% 8%;
--muted: 276 44% 85%;
--muted-foreground: 127 47% 8%;
--popover: 40 33% 98%;
--popover-foreground: 127 47% 8%;
--card: 40 33% 98%;
--card-foreground: 127 47% 8%;
--border: 276 44% 85%;
--input: 276 44% 85%;
--primary: 32 84% 71%;
--primary-foreground: 127 47% 8%;
--secondary: 240 1% 31%;
--secondary-foreground: 40 33% 98%;
--accent: 276 44% 85%;
--accent-foreground: 127 47% 8%;
--destructive: 0 62.8% 30.6%;
--destructive-foreground: 40 33% 98%;
--ring: 276 44% 85%;
--radius: 0.5rem;
  }

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }

  /* Fix time input icon spacing to prevent overlap with text */
  input[type="time"] {
    @apply pr-12;
  }
}